@import "partial";

.header {
  background-color: $white;
  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    padding: 1.5rem 0;
    margin: 0 auto;
  }
  &__logo-container {
    & a {
      display: inline-block;
      height: 100%;
      & svg {
        height: 100%;
      }
    }
  }
  &__nav {
    position: fixed;
    margin-top: -150%;
    z-index: 5;
    top: 0;
    left: 50%;
    width: 92%;
    //margin: 5rem 0;
    background-color: $dark-violet;
    transform: translateX(-50%);
    transition: all 200ms ease-in-out;
    &[data-visible="true"] {
      margin-top: 5rem;
    }
  }
  &__btn {
    width: 100%;
  }

  &__list-primary {
    border-bottom: 1px solid $grayish-violet;
  }
  &__list-primary,
  &__list-secondary {
    padding: 1rem 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
  }

  &__item {
    list-style: none;
    margin-bottom: 0.5rem;
    width: 100%;
    & a {
      display: inline-block;
      text-decoration: none;
      width: 100%;
      padding: 0.5rem 1.5rem;
      @include font(1rem, 600, $white, center);
    }
  }
  &__hamburger-btn {
    cursor: pointer;
    &:hover i {
      color: $very-dark-blue;
    }
    & i {
      font-size: 2rem;
      color: $grayish-violet;
      transition: all 200ms ease-in-out;
    }
  }
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: $white;

  &__illustration-container {
    width: 100%;
    & img {
      width: 140%;
    }
  }

  &__info {
    width: 92%;
    margin: 0 auto;
    padding: 1rem 0 5rem;
    & button {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__title {
    @include font(2rem, 700, $very-dark-blue, center);
  }
  &__text {
    @include font(1.125rem, 500, $grayish-violet, center);
    padding: 1rem 0;
  }
}

.links-section {
  position: relative;
  background-color: $gray;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 5rem;
    background-color: $white;
  }
  &__wrapper {
    width: 92%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  &__form {
    padding: 1rem;
    background-image: url("../images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-color: $dark-violet;
  }
}

.form {
  position: relative;
  &__input-wrapper {
    padding-bottom: 1.5rem;
    p {
      padding-top: 0.3rem;
      @include font(0.8rem, 400, $red, left);
      max-height: 0;
      transition: all 200ms ease-in-out;
      &.error {
        max-height: 2rem;
      }
    }
  }
  &__input {
    width: 100%;
    padding: 1rem;
    font-size: 1.125rem;
    border: none;
    &.border--red {
      border: 5px solid $red;
      &::placeholder,
      &::-moz-placeholder,
      &::-webkit-input-placeholder {
        color: $red;
      }
    }

    &::placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      @include font(1rem, 500, $grayish-violet, left);
    }
  }
  &__btn {
    padding: 1rem;
    @include font($f-s-text, 600, $white, center);
    width: 100%;
  }
}

.link {
  background-color: $white;
  margin: 1rem 0;

  &__input {
    padding: 1rem 1rem;
    border-bottom: 1px solid $grayish-violet;
    & h3 {
      @include font(1rem, 400, #000000, left);
    }
  }
  &__output {
    padding: 1rem 1rem;
    & a {
      display: block;
      text-decoration: none;
      @include font(1rem, 400, $cyan, left);
      margin-bottom: 0.5rem;
    }
    & .btn {
      width: 100%;
      padding: 0.5rem;
      @include font(1rem, 400, $white, center);
    }
  }
}

.stats {
  background-color: $gray;
  width: 100%;
  padding: 3rem 0;
  &__info {
    width: 85%;
    margin: 0 auto;
    max-width: 500px;
  }
  &__title {
    @include font(1.7rem, $f-w-header, $very-dark-blue, center);
    padding: 1rem 0;
  }
  &__text {
    @include font(1rem, $f-w-text, $dark-gray, center);
  }

  &__attr-wrapper {
    width: 92%;
    margin: 0 auto;
  }
}

.attr {
  position: relative;
  z-index: 0;
  max-width: 400px;
  margin-inline: auto;
  &:first-of-type::after {
    display: none;
  }
  &::after {
    content: "";
    position: absolute;
    height: 70px;
    width: 8px;
    top: 0;
    background-color: $cyan;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  &__avatar-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $dark-violet;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    & img {
      width: 40px;
      height: 40px;
    }
  }
  &__info {
    background-color: #fff;
    padding: 4rem 1rem 2rem;
  }

  &__title {
    padding-bottom: 1.5rem;
    @include font(1.5rem, $f-w-header, $very-dark-blue, center);
  }
  &__text {
    @include font(1rem, $f-w-text, $dark-gray, center);
  }
}

.boost {
  background-image: url("../images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-color: $dark-violet;
  background-position: center;
  padding: 4rem 0;
  background-size: cover;
  &__info {
    width: 90%;
    margin: 0 auto;
  }
  &__title {
    @include font(1.7rem, 600, $white, center);
    margin: 1rem 0;
  }
  &__btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.footer {
  background-color: $very-dark-violet;
  &__logo-container {
    padding: 2rem 0;
    text-align: center;
    & a {
      display: block;
      text-decoration: none;
    }
  }
  &__nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 50%;
    margin-inline: auto;
  }
  &__list {
    & h4 {
      @include font(1rem, 700, $white, center);
      padding: 1.5rem 1rem;
    }
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
  }

  &__item {
    cursor: pointer;
    text-align: center;
    list-style: none;

    & a {
      @include font(1rem, 400, $white, center);
      text-decoration: none;
      text-transform: capitalize;
      display: inline-block;
      padding: 0.5rem 1rem;
      width: 100%;
      &:hover,
      &:focus {
        color: $cyan;
      }
    }
  }

  &__social-nav {
    width: 65%;
    margin: 2rem auto;
  }
  &__social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &__social-item {
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    &:not(&:last-of-type) {
      margin-right: 1rem;
    }
    & a {
      display: inline-block;
      text-decoration: none;
      color: $white;
      transition: all 200ms ease-in-out;
      &:hover,
      &:focus {
        color: $cyan;
      }
      & i {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    &__wrapper {
      width: 85%;
    }
    &__hamburger-btn {
      display: none;
    }

    &__nav {
      display: flex;
      flex-flow: row nowrap;
      position: static;
      transform: none;
      margin: 0;
      width: 85%;
      justify-content: space-between;
      background-color: inherit;
      margin-left: auto;
    }

    &__list-primary,
    &__list-secondary {
      flex-flow: row nowrap;
      justify-content: start;
      padding: 0;
    }

    &__list-primary {
      width: 50%;
      max-width: 380px;
      margin: 0;
      border-bottom: none;
    }
    &__list-secondary {
      width: 35%;
      max-width: 235px;
      margin: 0;
    }

    &__item {
      margin-bottom: 0;
      width: auto;
      & a {
        color: $dark-gray;
        transition: all 200ms ease-in-out;
        &:hover,
        &:focus {
          color: $very-dark-blue;
        }
      }
      &:not(&:last-of-type) {
        margin-right: 0.5rem;
      }
    }
  }

  .hero {
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 92.5%;
    margin-left: auto;

    &__illustration-container {
      order: 2;
      width: 50%;
      & img {
        width: 115%;
      }
    }

    &__info {
      order: 1;
      width: 45%;
      padding: 0;
      margin: 0;
      max-width: 450px;
      & button {
        position: static;
        transform: none;
      }
    }

    &__title {
      text-align: left;
      font-size: 2.5rem;
    }

    &__text {
      text-align: left;
    }
  }

  .form {
    display: flex;
    padding: 3rem 2rem;
    background-image: url("../images/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    align-items: flex-start;

    &__input-wrapper {
      padding: 0;
      width: 75%;
      margin-right: 1.5rem;
    }
    &__input {
      font-size: 1.125rem;
      padding: 1rem;
    }
    &__input::placeholder,
    &__input::placeholder,
    &__input::-webkit-input-placeholder {
      font-size: 1.125rem;
      font-weight: 600;
    }
    &__btn {
      width: 200px;
      padding: 1rem;
    }
  }
  .links-section__wrapper {
    width: 85%;
  }

  .link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

    &__input {
      padding: 0;
      border: none;
    }
    &__output {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 45%;
      padding: 0;
      max-width: 380px;
      & a {
        margin-right: auto;
        padding: 0.5rem;
        margin-bottom: 0;
      }

      & .btn {
        width: 160px;
      }
    }
  }
  .stats__attr-wrapper {
    width: 85%;
    display: flex;
    padding-bottom: 8rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 8px;
      width: 100%;
      top: 50%;
      background-color: $cyan;
      left: 0;
      transform: translateY(-50%);
      z-index: 0;
    }
  }
  .attr {
    max-width: 400px;
    width: 31.5%;
    position: relative;
    z-index: 1;
    &::after {
      position: static;
    }
    &:not(&:last-of-type) {
      margin-right: 2rem;
    }
    &:nth-of-type(2) {
      transform: translateY(3rem);
    }
    &:nth-of-type(3) {
      transform: translateY(6rem);
    }
    &__avatar-container {
      position: static;
      transform: translateY(50%);
      margin-left: 1.5rem;
    }
    &__info {
      padding: 4rem 1rem 2rem 1.5rem;
    }
    &__title,
    &__text {
      text-align: left;
    }
  }

  .boost {
    background-image: url("../images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    padding: 2.5rem 0;
    &__title {
      font-size: 2rem;
      margin: 2rem 0;
    }
    &__btn {
      width: 220px;
      text-align: center;
    }
  }

  .footer {
    padding: 2rem 0;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 85%;
      margin: 0 auto;
    }

    &__logo-container {
      width: 15%;
      margin: 0;
      padding: 1rem 0;
      & a {
        text-align: left;
      }
    }

    &__nav {
      display: flex;
      flex-flow: row nowrap;
      width: 45%;
      margin: 0;
    }
    &__list {
      & h4 {
        padding: 1rem 1rem;
        text-align: left;
      }
      &:not(&:last-of-type) {
        margin-right: 2rem;
      }
    }
    &__item {
      text-align: left;
      & a {
        text-align: left;
      }
    }

    &__social-nav {
      margin: 0;
      width: 20%;
    }
  }
}
